<% include ../partials/header %>


<div class="container-fluid">
  <div class="message-form">
      <h1>Update - <%= campground.name %></h1>
  </div>
  <div class="add-form">
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input type="text" class="form-control" name="campground[name]" value="<%= campground.name %>">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="campground[image]" value="<%= campground.image %>">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="5" placeholder="Enter description to the camp" name="campground[descr]"><%= campground.descr %></textarea>
      </div>
      <div class="text-center">
          <button type="submit" class="btn btn-default btn-search btn-block">Update</button>
          <a class="btn btn-default btn-def btn-block" href="/campgrounds/<%= campground._id %>">Back</a>
          <br><br>
      </div>
    </form>
  </div>
</div>




<% include ../partials/footer %>